/*table cell formats, like lines*/
th {
  border-width: 1px;
  border-style: solid;
  width: 200px;
  /* background-color: red; */
}

html{
  background: rgb(15, 15, 15);
  color: rgb(247, 240, 240);
}

form {
  background: rgb(160, 125, 9);
  width: 50%;
}

/*data in table*/
td {
  border-style: dotted;
  border-width: 1px;
  width: 200px;
  background-color: rgb(179, 69, 19);
}

/*table header*/
table {
  width: 960px;
  table-layout: auto;
  column-width: 150px;
  background-color: rgb(75, 32, 15);
}

/*links between the pages*/
nav {
  float: right;
}

/*links between the pages*/
nav li {
  display: inline-block;
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
  Font-weight: bold;
  margin-left: 20px;
}

/*links between the pages*/
li a {
  text-decoration: none;
  color: rgb(185, 185, 0);
}

/*to remove the bullets for the address and hours*/
.addressAndHours {
  width: 200px;
  list-style-type: none;
}

h1 {
  font-family: 'Rokkitt', serif;
  color: salmon;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(11, 100, 3);
}

ul li {
  display: inline-block;
  margin-right: 20px;
}

#aboutparagraph {
  width: 960px;
}
