/*why doesn't it line up even though i made all the widths the same*/
th {
  border-width: 1px;
  border-style: solid;
  width: 200px;
  /* background-color: red; */
}

td {
  border-style: dotted;
  border-width: 1px;
  width: 200px;
  /* background-color: blue; */
}

#tablehead {
  /* width: 200px; */
  /*background-color: pink;*/
} 

#tabledetails {
  /* width: 200px; */
  /*background-color: green;*/
}

#tablefoot {
  /* width: 200px; */
}

table {
  table-layout: auto;
  column-width: 150px;
  /* background-color: blue; */
}

